<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- system -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" /> <!-- network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- storage -->

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" /> <!-- location -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- new for targetsdk 33-->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <!--  old storage permission-->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <!-- We need to be able to open links in the browser on API 30+ -->
    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="http|https|market" />
        </intent>
    </queries>


    <queries>
        <package android:name="com.whatsapp" />
        <package android:name="com.whatsapp.w4b" />
        <package android:name="com.eterno.shortvideos" />
        <package android:name="io.chingari.app" />
        <package android:name="com.facebook.katana" />
        <package android:name="com.mitron.tv" />
        <package android:name="com.roposo.android" />
        <package android:name="in.mohalla.sharechat" />
        <package android:name="com.kwai.bulldog" />
        <package android:name="com.vimeo.android.videoapp" />
        <package android:name="com.instagram.android" />
        <package android:name="video.like" />
        <package android:name="com.twitter.android" />
        <package android:name="com.zhiliaoapp.musically.go" />
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.next.innovation.takatak" />
    </queries>

    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature
        android:name="android.software.leanback"
        android:required="false" />

    <application
        android:name="com.video.victusadownloaders.WatchVideo.AppNew"
        android:allowBackup="false"
        android:banner="@drawable/no_image"
        android:hardwareAccelerated="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:logo="@drawable/icon"
        android:networkSecurityConfig="@xml/network_security_config"
        android:requestLegacyExternalStorage="true"
        android:resizeableActivity="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:replace="android:networkSecurityConfig"
        tools:targetApi="q">

        <activity
            android:name="com.video.victusadownloaders.additionalscreens.HomeActivityScr"
            android:exported="false" />

        <activity
            android:name="com.video.victusadownloaders.VideoSaver.SplashActivityScr"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.video.victusadownloaders.StatusVideoDownloader.StatusMainActivityVideo"
            android:exported="false" />
        <activity android:name="com.video.victusadownloaders.additionalscreens.DummyOneScr" />
        <activity android:name="com.video.victusadownloaders.additionalscreens.DummyTwoScr" />
        <activity android:name="com.video.victusadownloaders.additionalscreens.DummyThreeScr" />
        <activity android:name="com.video.victusadownloaders.additionalscreens.DummyFourScr" />
        <activity android:name="com.video.victusadownloaders.additionalscreens.DummyFiveScr" />
        <activity android:name="com.video.victusadownloaders.additionalscreens.DummySixScr" />
        <activity android:name="com.video.victusadownloaders.StatusVideoDownloader.activity.AllGamesActivity" />
        <activity android:name="com.video.victusadownloaders.StatusVideoDownloader.activity.LoginActivity" />
        <activity android:name="com.video.victusadownloaders.StatusVideoDownloader.activity.FacebookActivity" />
        <activity android:name="com.video.victusadownloaders.StatusVideoDownloader.activity.TikTokActivity" />
        <activity android:name="com.video.victusadownloaders.StatusVideoDownloader.activity.WhatsappActivity" />
        <activity android:name="com.video.victusadownloaders.StatusVideoDownloader.activity.InstagramActivity" />
        <activity android:name="com.video.victusadownloaders.StatusVideoDownloader.activity.FullViewActivity" />
        <activity android:name="com.video.victusadownloaders.StatusVideoDownloader.activity.LikeeActivity" />
        <activity android:name="com.video.victusadownloaders.StatusVideoDownloader.activity.JoshActivity" />
        <activity android:name="com.video.victusadownloaders.StatusVideoDownloader.activity.MitronActivity" />
        <activity android:name="com.video.victusadownloaders.StatusVideoDownloader.activity.ChingariActivity" />
        <activity android:name="com.video.victusadownloaders.StatusVideoDownloader.activity.GalleryActivity" />
        <activity android:name="com.video.victusadownloaders.StatusVideoDownloader.activity.WebviewAcitivity" />
        <activity android:name="com.video.victusadownloaders.StatusVideoDownloader.activity.TwitterActivity" />
        <activity android:name="com.video.victusadownloaders.StatusVideoDownloader.activity.RoposoActivity" />
        <activity android:name="com.video.victusadownloaders.StatusVideoDownloader.activity.ShareChatActivity" />
        <activity android:name="com.video.victusadownloaders.StatusVideoDownloader.activity.SnackVideoActivity" />
        <activity android:name="com.video.victusadownloaders.StatusVideoDownloader.activity.MXTakaTakActivity" />
        <activity android:name="com.video.victusadownloaders.StatusVideoDownloader.activity.MojActivity" />
        <activity android:name="com.video.victusadownloaders.StatusVideoDownloader.activity.FBLoginActivity" />
        <activity android:name="com.video.victusadownloaders.StatusVideoDownloader.activity.VideoPlayerActivity" />
        <activity
            android:name="com.video.victusadownloaders.StatusVideoDownloader.activity.GamesPlayActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.video.victusadownloaders.VideoSaver.VideosViewDownActivityVideo" />
        <activity android:name="com.video.victusadownloaders.VideoSaver.SampleActivityVideo" />
        <activity android:name="com.video.victusadownloaders.VideoSaver.FullScreenVideoActivityVideo" />
        <activity android:name="com.video.victusadownloaders.VideoSaver.BrowserVideoActivityVideo" />
        <activity android:name="com.video.victusadownloaders.VideoSaver.downloaderactivities.Download_Auto" />
        <activity android:name="com.video.victusadownloaders.VideoSaver.downloaderactivities.DailogActivity" />

        <receiver
            android:name="com.video.victusadownloaders.VideoSaver.DownloadReceiverVideo"
            android:exported="true">
            <intent-filter android:priority="1000">
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.video.victusadownloaders.VideoSaver.services.BootReceiver" />

        <service android:name="com.video.victusadownloaders.VideoSaver.services.FloatingButtonService1" />
        <service android:name=".Download_HLS.DownloadService" />

        <activity
            android:name="com.video.victusadownloaders.VideoPlayer.Activities.MainActivityGallery"
            android:exported="false" />
        <activity
            android:name="com.video.victusadownloaders.VideoPlayer.newgallery.XPhotoMainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.video.victusadownloaders.VideoPlayer.newgallery.XViewDisplay"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.DayNight.NoActionBar" />
        <activity
            android:name="com.video.victusadownloaders.VideoPlayer.Activities.XViewActivity"
            android:exported="false" />
        <activity
            android:name="com.video.victusadownloaders.VideoPlayer.Activities.XAudioVideoList"
            android:exported="false" />
        <activity
            android:name="com.video.victusadownloaders.VideoPlayer.Activities.VideoMainActivity"
            android:exported="false"
            android:label="@string/title_activity_video_main"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.video.victusadownloaders.WatchVideo.activities.ExitActivity"
            android:exported="false" />
        <activity
            android:name="com.video.victusadownloaders.WatchVideo.activities.InterstScreen"
            android:exported="false" />
        <activity
            android:name="com.video.victusadownloaders.WatchVideo.activities.WelcomeOne"
            android:exported="false" />
        <activity
            android:name="com.video.victusadownloaders.WatchVideo.activities.MainActivity"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.video.victusadownloaders.WatchVideo.player.MainPlayer"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </service>

        <receiver
            android:name="androidx.media.session.MediaButtonReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.video.victusadownloaders.WatchVideo.player.PopupPlayerActivity"
            android:label="@string/title_activity_popup_player"
            android:launchMode="singleTask" />
        <activity
            android:name="com.video.victusadownloaders.WatchVideo.settings.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" /> <!-- FileProvider -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>

        <service android:name="com.video.victusadownloaders.WatchVideo.util.chrometabs.KeepAliveService" /> <!-- AdMob -->
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id" /> <!-- Firebase Cloud Messaging -->
        <service
            android:name="com.video.victusadownloaders.WatchVideo.notification.GFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service> <!-- Download -->
        <service android:name="com.video.victusadownloaders.WatchVideo.download.service.DownloadManagerService" />

        <activity
            android:name="com.video.victusadownloaders.WatchVideo.download.ui.DownloadActivity"
            android:hardwareAccelerated="true"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name="com.video.victusadownloaders.WatchVideo.activities.ReCaptchaActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>